android-studio/*.iml
android-studio/.gradle
android-studio/local.properties
android-studio/.idea/libraries
android-studio/.idea/modules.xml
android-studio/.idea/workspace.xml
android-studio/.DS_Store
android-studio/build
android-studio/captures
android-studio/.externalNativeBuild
visual-studio-code/.pio
visual-studio-code/.pioenvs
visual-studio-code/.piolibdeps
visual-studio-code/.vscode/.browse.c_cpp.db*
visual-studio-code/.vscode/c_cpp_properties.json
visual-studio-code/.vscode/launch.json
